@use 'variables';
body{
    background-color: variables.$bg;
    color: var(--txt);
    // font-size: 30px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    font-size:1.5rem;
}
.innerCol{
    margin:2px;
    border:var(--simpleLine);
    width: 90%;
    // height: 90vh;
    height: 100%;
    margin-top: var(--innerColMar);
    margin-bottom: var(--innerColMar);
    // overflow-y: scroll;
    overflow-x: hidden;

}

.sideColumns{
    width:25%;
    border:var(--simpleLine);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.middleColumn{
    width: 50%;
    border:var(--simpleLine);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.airport-row{
    display: flex;
    flex-direction: row;
}

.paginator{
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 20px;
    font-size: 22px;

}

.paginator-arrows{
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    
    &:hover{
        color:blue;
        // border: 3px solid black;
        // border-radius: 10px;
    }
}

.noSelect{
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.flightBox{
    width: 100%;
}

.flightBoxCol {
    width: 100%;
}

.roation-col{
    display: flex;
    flex-direction: column;
    width: 100%;
    // position: center;
}

.chron-line{
    border-bottom: var(--chronLine);
    border-left: var(--chronLine);
    border-right: var(--chronLine);
    // border: var(--chronLine);
    height: 10px;
}

.flight-time-box-base{
    height: var(--flightTimeBoxHeight);
    border: var(--chronLine);
    &-green-color {@extend .flight-time-box-base; background-color: green;}   
    &-purple-color {@extend .flight-time-box-base;background-color: purple;}   
    &-orange-color {@extend .flight-time-box-base;background-color: #ca7c16;}   
    &-grey-color {@extend .flight-time-box-base;background-color: grey;}   
}

.flight-location-time{
    cursor: pointer;
}
