@use 'variables';
body{
    background-color: variables.$bg;
    color: var(--txt);
    // font-size: 30px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    font-size:1.5rem;
}
.innerCol{
    margin:2px;
    border:var(--simpleLine);
    width: 90%;
    // height: 90vh;
    height: 100%;
    margin-top: var(--innerColMar);
    margin-bottom: var(--innerColMar);
    // overflow-y: scroll;
    overflow-x: hidden;

}

.sideColumns{
    width:25%;
    border:var(--simpleLine);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.middleColumn{
    width: 50%;
    border:var(--simpleLine);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.row{
    display: flex;
    flex-direction: row;
}

.tableHeight{
    // height:80vh;

}
.paginator{
    display: flex;
    flex-direction: row;
}

